.tablehead{
background-color:#2994db;
color:white
}
table{
margin:50px auto 20px auto;
border-bottom: 1px solid;
border-right: 1px solid;
border-top: 1px solid white;
border-left: 1px solid white;
box-shadow: 10px 10px rgb(200,200,200);
border-radius:20px;
}
td{
    text-align:center;
padding:20px;
font-family: "Calibri";
font-size: 24px;
}
.rightbord{
border-right: 1px solid #2994db;
}
div{
    width:320px;
    margin:200px auto 0 auto;
    font-family:"Calibri";
    font-size:20px;
    color:#2994db;
    box-shadow: 10px 10px rgba(200,200,200,0.5);
    text-align: center;
    height: 50px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-top: 20px;
}
@media only screen
   and (min-device-width : 320px)
    and (max-device-width : 420px){div{width:200px;
        margin-top:50px;}}
@media only screen
   and (min-device-width : 320px)
    and (max-device-width : 420px){body{background-position: center;}}
@media only screen
   and (min-device-width : 320px)
    and (max-device-width : 420px){td{padding:5px;
        font-size:14px;}}
@media only screen
   and (min-device-width : 320px)
    and (max-device-width : 420px){table{margin:20px auto 0 auto;
        border-radius:10px;}}
